@page
@model Diploma_ASP_NET_CORE.Pages.People.IndexModel
@{
    ViewData["Title"] = "Список користувачiв";
}
<h2>@ViewData["Title"]</h2>

<p><a asp-page="Create">Додати користувача</a></p>
<table class="table">
    <thead>
        <tr><th>Имя</th><th>Вiк</th></tr>
    </thead>
    <tbody>
        @foreach (var student in Model.People)
        {
            <tr><td>@student.Name</td><td>@student.Age</td></tr>
            <tr><td>@student.Level</td></tr>
                }
        </tbody>
 </table>
